[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
default-character-set = utf8  #追加(MySQLサーバーの文字コードをUTF-8にする)

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid


#以下を追加(MySQLクライアントの文字コードをUTF-8にする)
[mysql] default-character-set = utf8
